# CityBikes

In [1]:
import os
import requests
import json
import pandas as pd

Send a request to CityBikes for the city of your choice.

In [2]:
#Getting information about all the networks CityBikes API has information on.
url = "http://api.citybik.es/v2/networks"

In [3]:
response = requests.get(url)

In [4]:
#print(dir(response))

In [5]:
#Finding the network id for Toronto Bike Share
data = response.json()

In [6]:
for bst in data['networks']:
    if(bst['location']['city']) == 'Toronto, ON':
        print(bst['id']) #This is the network id we will use in our next request.

bixi-toronto

In [7]:
#Getting the data about the bike stations in toronto.
url = 'http://api.citybik.es/v2/networks/bixi-toronto' 
toronto_response = requests.get(url)
toronto_data = toronto_response.json()

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [10]:
#Parsing the data for the details we want for the bike stations in Toronto (latitude,longitude,number of bikes)
all_stations_info = {'bikes_no':[],'longitude':[],'latitude':[]}
for bike_station in toronto_data['network']['stations']:
    #print(bike_station['free_bikes'])
    all_stations_info['bikes_no'].append(bike_station['free_bikes'])
    #print(bike_station['longitude'])
    all_stations_info['longitude'].append(bike_station['longitude'])
    #print(bike_station['latitude'])
    all_stations_info['latitude'].append(bike_station['latitude'])

Put your parsed results into a DataFrame.

In [11]:
stations_parsed_df = pd.DataFrame(all_stations_info)

In [12]:
stations_parsed_df

     bikes_no  longitude   latitude
0          18 -79.319796  43.665269
1           3 -79.445947  43.671420
2          20 -79.317693  43.666224
3          10 -79.376716  43.653236
4          10 -79.380288  43.663722
..        ...        ...        ...
669         7 -79.219952  43.735967
670         0 -79.287660  43.715466
671         4 -79.437461  43.642904
672         1 -79.268510  43.706880
673         0 -79.285287  43.697356

[674 rows x 3 columns]

In [13]:
stations_parsed_df.to_csv('all_bike_stations_toronto.csv')