In [3]:
# imports
import requests
import json
import pandas as pd
from pprint import pprint
import os

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice. 

43.65296807774091, -79.38341829750141

In [24]:
my_key = os.environ['FOUR_SQUARE_API_KEY']
print(my_key)

fsq3Y1l91rvBnvIOnVlJYQ0h8LASXfKVIA+JAL9Rli4APGU=

In [73]:
url = "https://api.foursquare.com/v3/places/search?ll=43.65296807774091%2C-79.38341829750141&radius=1000&categories=19002&session_token=4Hb29vB3d5F6J7k8L9mN0O1P2Q3r4S5T6U%3D"

headers = {
    "accept": "application/json",
    "Authorization": my_key
}

response = requests.get(url, headers=headers)

In [74]:
data = json.loads(response.text)
x = pd.json_normalize(data)

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [75]:
parsed_info = {'id': [], 'address': [], 'distance': []}

for bst in data['results']:
    parsed_info['id'].append(bst['categories'][0]['id'])
    parsed_info['address'].append(bst['location']['formatted_address'])
    parsed_info['distance'].append(bst['distance'])

final_result = pd.DataFrame(parsed_info)

Put your parsed results into a DataFrame

In [76]:
final_result

      id                                            address  distance
0  19002                  Bay St (at Albert St), Toronto ON        77
1  19002                Yonge St (at Dundas Sq), Toronto ON       358
2  19002                Edward St (at Yonge St), Toronto ON       442
3  19002       550 University Ave (Elm), Toronto ON M5G 2A2       458
4  19002                  King St W (at Bay St), Toronto ON       513
5  19002      University Ave (btw King & Pearl), Toronto ON       571
6  19002  275 Dundas St W (St. Patrick Street), Toronto ...       584
7  19002            Wellington St W (at Bay St), Toronto ON       700
8  19002              Mutual St (Dundas Street), Toronto ON       754
9  19002                       Bay St (College), Toronto ON       812

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating